
<h3>Project Manager</h3>
<nav class="navbar navbar-expand-sm">

<br>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      
        <li class="nav-item">

            <a class="nav-link" routerLink="/project" routerLinkActive="active">
              <b>Add Project</b></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/task" routerLinkActive="active">
                <b>Add Task</b></a>
            </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">
          <b>Add User</b></a>
      </li>



      <li class="nav-item">
        <a class="nav-link" routerLink="/viewtask" routerLinkActive="active">
          <b>View Task</b></a>
      </li>

    </ul>
  </div>
</nav>
  <br />
  <br />

  
  <div class="container" >

      <router-outlet></router-outlet>
      </div>